html,
body,
#root {
  height: 100%;
}

#main a,
a:hover {
  color: inherit !important;
  text-decoration: inherit !important;
}

.container {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.active {
  color: red;
}

.bg-color-main {
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}

.height100 {
  min-height: 100vh;
}

.cocktail-image {
  max-width: 300px;
}

.panel {
  background-color: #fceabb;
  border-radius: 10px;
}

.hide {
  display: none !important;
}

.list-counter-square {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-counter-square > li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgb(0, 0, 0);
  background: #fad97e;
  white-space: nowrap;
}
.list-counter-square > li:last-child {
  margin-bottom: 0;
}
.list-counter-square > li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  background: #f8b500;
}
.card-delete {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 10px 10px;
  color: #727272;
  line-height: 1;
}
.card-delete:hover {
  background-color: rgba(219, 0, 0, 0.386);
  color: white;
}

.pointer {
  cursor: pointer;
}

.fav-counter {
  position: fixed;
  right: 80px;
  bottom: 40px;
  background-color: black;
  color: white;
  /* border-radius: 10%; */
  padding: 5px 10px;
  opacity: 0.4;
}

.fav-counter:hover {
  opacity: 1;
  cursor: pointer;
}
